



.shape-ex4{
    width: 150px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    line-height: 40px;
    color: #000;
    background-color: transparent;
    border: 1px solid #000;
    position: relative;
    transition: all .3s linear;
}
.shape-ex4 > p{
    position: relative;
    z-index: 1;
}
.shape-ex4::before{
    content: "";
    width: 0%;
    height: 100%;
    display: block;
    background-color: #000;
    position: absolute;
    top: 0;
    right: 0;
    transition: all .3s ease;
}
.shape-ex4:hover{
    color: #fff;
}
.shape-ex4:hover::before{
    width: 100%;
}

.shape-ex3{
    width: 150px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    line-height: 40px;
    color: #000;
    background-color: transparent;
    border: 1px solid #000;
    position: relative;
    transition: all .3s linear;
}
.shape-ex3 > p{
    position: relative;
    z-index: 1;
}
.shape-ex3::before{
    content: "";
    width: 0%;
    height: 100%;
    display: block;
    background-color: #000;
    position: absolute;
    top: 0;
    left: 0;
    transition: all .3s ease;
}
.shape-ex3:hover{
    color: #fff;
}
.shape-ex3:hover::before{
    width: 100%;
}

<style>
    .bg {
        position: fixed;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        z-index: -999;
    }
    .bg img {
        min-height: 100%;
        width: 100%;
    }
</style> 
   